# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

bin/
*.log
*.lock
.metadata/.mylyn/.taskListIndex/segments.gen
*.zip
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
*.xml
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.ini
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
*.setup
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
*.fdx
*.tis
.metadata/.mylyn/.taskListIndex/segments_1
*.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.prefs
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
*.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
*.nrm
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
*.fdt
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.dat
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
